<!DOCTYPE HTML>
<html>
	<head>
		<title>About Me</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header">
					<a href="{{ url_for('home')}}" class="logo"><strong>CV</strong> <span>William Rodriguez</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="{{ url_for('home')}}">Home</a></li>
						<li><a href="{{ url_for('studies')}}">Studies</a></li>
						<li><a href="{{ url_for('experience')}}">Experience</a></li>
						<li><a href="{{ url_for('home')}}#contact">Contact Me</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="#" class="button primary fit">Get Started</a></li>
					</ul>
				</nav>

			<!-- Banner -->
			<!-- Note: The "styleN" class below should match that of the header element. -->
				<section id="banner" class="alt">
					<div class="inner">
						<span class="image">
							<img src="{{ url_for('static', filename='assets/images/william.jpg')}}" alt="" />
						</span>
						<header class="major">
							<h1>My Live...</h1>
						</header>
						<div class="content">
							<p></p>
						</div>
					</div>
				</section>

			<!-- Main -->
				<div id="main" class="major">

					<!-- One -->
						<section id="one">
							<div class="inner">
								<header class="major">
									
								</header>

								<!-- Content -->									
									<p>Hi, I’m William, a systems engineer with a great passion for technology, software development,
										and cybersecurity. Throughout my journey, I’ve worked with technologies like Java (Spring Boot),
										.NET, Python, and Docker, building everything from REST APIs to complete microservices, always
										focused on quality, scalability, and best practices. <br>
										<br>
										I see myself as a committed, proactive person with a strong desire to keep learning and growing,
										both professionally and personally. I enjoy working in teams, sharing knowledge, and contributing 
										to a collaborative environment where ideas can flow and
										projects can evolve solidly. <br>
										<br>	
										I currently live in Germany, where in addition to continuing my specialization in software engineering.
										I’m learning German to better integrate and expand my opportunities. Beyond code. I deeply value honesty,
										responsibility, and family balance — pillars that drive me every day. <br>
										<br>
										I’m also open to collaborating as a freelancer, offering my knowledge and experience to those who need to
										develop a digital product, optimize processes, or create tailored solutions. If you have a project in mind
										or are looking for someone to help bring your ideas to the next level, feel free to reach out. <a href="{{ url_for('home')}}#contact">I’d love to
										join you on that journey!</p></a>
									<div class="row">
										<div class="col-6 col-12-small">
											<h3>Development Skills</h3>
														<ul>
															<li>.NET</li>
															<li>Django</li>
															<li>Flask</li>
															<li>Redis</li>
															<li>.NET MAUI</li>
															<li>Docker</li>
															<li>SpringBoot</li>
															<li>SQL</li>
															<li>Testing With Appium</li>
															<li>Pipelines With GibHub Actions</li>
															<li>Tolgge</li>
															<li>Azure Devops</li>
															<li>Jira</li>
															<li>Power Platform</li>
															<li>Star UML</li>
															<li>Figma Desing</li>
														</ul>
										</div>
										<div class="col-6 col-12-small">
											<h3>Hobbies!!</h3>
											<p>Outside of work and programming, I deeply enjoy spending time with
												my wife and our two children, who are my greatest source of motivation
												and inspiration. We share simple but meaningful moments—going for
												walks, playing at home, or watching movies together. I truly believe
												that maintaining a balance between personal and professional life is
												essential to staying focused and motivated. <br>
												<br>
												I'm passionate about continuous learning, so much of my free time is spent
												exploring new technologies, sharpening my software development skills, and
												reading about topics like engineering, productivity, or even practical philosophy.
												I also enjoy music, a well-made cup of coffee, and the challenges that come with
												solving problems—both inside and outside of code. <br>
												<br>
											To me, every project—whether professional or personal—is an opportunity to grow, learn,
											and create value. That mindset stays with me whether I’m programming, playing with my kids,
											or sharing a conversation with my wife at the end of the day.</p> <br>
										</div>
									
										<div style="display: flex; justify-content: center; width: 100%;">	
											<ul class="actions">
												<li><a href="{{url_for('static', filename='assets/pdf/HV_espanolV1.pdf')}}" target="_blank" class="button primary icon solid fa-download">CV in Spanisch</a></li>
												<li><a href="{{url_for('static', filename='assets/pdf/HV duschV1.pdf')}}" target="_blank" class="button primary icon solid fa-download">CV in German</a></li> <br>
											</ul> <br>
										</div>
									</div>
							</div>
						</section>
				</div>
			
			
					<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.facebook.com/willi.rodriguezzzz" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://github.com/William0814" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="https://www.linkedin.com/in/william-rodríguez-5533901a6" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="http://wa.me/+4917620692862" target="_blank" class="icon brands alt fa-whatsapp"><span class="label">Whatsapp</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 2025, all rights reserved</li><li>Developed by: <a href="">Ing. William Rodriguez</a></li>
					</ul>
				</div>
			</footer>
		</div>

<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/jquery.scrolly.min.js"></script>
	<script src="static/assets/js/jquery.scrollex.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>

	</body>
</html>