<!DOCTYPE HTML>
<html>
	<head>
		<title>Studies</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{{ url_for('home')}}" class="logo"><strong>CV</strong> <span>William Rodriguez</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{{ url_for('home')}}">Home</a></li>
							<li><a href="{{ url_for('about_me')}}">About Me</a></li>
							<li><a href="{{ url_for('experience')}}">Experience</a></li>
							<li><a href="{{ url_for('home')}}#contact">Contact Me</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>							
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="alt">
						<div class="inner">
							<span class="image">
								<img src="{{ url_for('static', filename='assets/images/fondo_studies.jpg')}}" alt="" />
							</span>
							<header class="major">
								<h1>Studies</h1>
							</header>
							<div class="content">
								<p></p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- two -->
							<section id="two" class="spotlights">
								<section>
									<a href="https://estudiar.unir.net/es/es-gen-uni-gene-universidad-online/?utm_source=GOOGLE-BUSQ&utm_medium=Search&utm_campaign=UNIREU_EU_Mix_X_X_Mix_X_X_MAR_X_LWEB_GLOB_Mix_AREA-VERT_AO_GOOGLE-BUS_BUS_GEN_X_ESPANOLESPOREUROPA&utm_content=ES_Mix_X_X_Mix_X_X_MAR_BUSQ_UNIR_TXT_CPC_GOOGLE-BUS_MIX_X_X_X&bi_campaignid=19743495501&bi_adgroupid=146908873655&wcmp=19743495501&wmatch=e&wkwd=unir%20universidad&wad=649805346403&wpos=&wdt=c&wdm=&gad_source=1&gad_campaignid=19743495501&gbraid=0AAAAADvi6Q_QuaQI4CjVgH7a4IaEAqarC&gclid=CjwKCAjw-svEBhB6EiwAEzSdrtaSIPyXaEJQxTDtMVDBJQvFqsjdmlSJfiF9po56hs1Dfj8dOiXlJxoCY0AQAvD_BwE" target="_blank" class="image">
										<img src="{{ url_for('static', filename='assets/images/unir.webp')}}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>UNIR</h3>
											</header>
											<p>(International University Foundation of the Rioja) I am currently pursuing a
												postgraduate degree in Software Engineering, which I will complete in 2026.
												This program allows me to deepen my knowledge in advanced software
												development, technology architecture design, and IT project management.
												Through this education, I am acquiring specialized skills in agile
												methodologies, best practices in software engineering, and leadership in
												technological environments. My goal is to build a strong technical and
												strategic foundation that enables me to deliver innovative and efficient
												solutions in the business sector, optimizing processes and contributing to
												organizational growth..</p>
										</div>
									</div>
								</section>
								<section>
									<a href="https://cun.edu.co/" target="_blank" class="image">
										<img src="{{ url_for('static', filename='assets/images/cun.png')}}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>CUN</h3>
											</header>
											<p>(National Unified Corporation of Higher Education): I continued my studies
												at CUN to obtain a degree in Systems Engineering. This program covers
												various areas of the technology sector, such as data networks, IT security
												auditing, database administration, applied mathematics, modern algebra,
												software development, and more. Thanks to prior studies accreditation, I
												completed the degree in two and a half years (the regular duration is five
												years). This degree is already recognized as a career between Professional 
												and Master's degrees by the ZAB (Centralstelle für ausländisches Bildungswesen)</p>
										</div>
									</div>
								</section>
								<section>
									<a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank" class="image">
										<img src="{{ url_for('static', filename='assets/images/sena.jpg')}}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>SENA</h3>
											</header>
											<p>(International University Foundation of the Rioja) I am currently pursuing a
												postgraduate degree in Software Engineering, which I will complete in 2026.
												This program allows me to deepen my knowledge in advanced software
												development, technology architecture design, and IT project management.
												Through this education, I am acquiring specialized skills in agile
												methodologies, best practices in software engineering, and leadership in
												technological environments. My goal is to build a strong technical and
												strategic foundation that enables me to deliver innovative and efficient
												solutions in the business sector, optimizing processes and contributing to
												organizational growth..</p>
										</div>
									</div>
								</section>
							</section>
					</div>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/willi.rodriguezzzz" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://github.com/William0814" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/william-rodríguez-5533901a6" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="http://wa.me/+4917620692862" target="_blank" class="icon brands alt fa-whatsapp"><span class="label">Whatsapp</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; 2025, all rights reserved</li><li>Developed by: <a href="">Ing. William Rodriguez</a></li>
							</ul>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>